[user]
	name = Gwangmin Lee
	email = gwangmin.lee@naverlabs.com
[core]
    editor = vim
	autocrlf = input
	whitespace = trailing-space,space-before-tab,cr-at-eol
[diff]
    tool = vimdiff
[color]
    ui = auto
    branch = auto
    interactive = auto
    status = auto
[alias]
    st = status
    stat = status
    sb = submodule
    co = checkout
    br = branch
[push]
    default = current
[credential]
    helper = cache --timeout=3600
[credential "https://github.com"]
    username = aiqu
[credential "https://es.naverlabs.com"]
    username = gwangmin.lee
[credential "https://oss.navercorp.com"]
    username = gwangmin.lee
[help]
	autocorrect = 1
